body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home {
  text-align: center;
  margin-top: 20%;
}

.bg {
  position: absolute; 
  top: 0; 
  left: 0;
  opacity: 0.15;
  z-index: -99999;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  height: 100vh;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bg {
  display: absolute;
  opacity: 0.1;
}

a {
  text-decoration: none;
  font-size: 2rem;
}

a:hover {
  text-decoration: none;
}

.home h1 {
  font-size: 3rem;
}